.Modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* comment-modal */

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.comment-modal {
  width: 600px;
  max-width: 100%;
  height: 700px;
  max-height: 90vh;
  background: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  color: #000;
}

.modal-header {
  height: 65px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
}

.modal-header h3 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}

.comment-count {
  min-width: 24px;
  height: 24px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #f1f1f1;
  font-size: 12px;
  font-weight: 600;
}

.close-btn {
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  color: #555;
}

.comment-list {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.comment-list::-webkit-scrollbar {
  width: 5px;
}

.comment-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.comment-item-container {
  margin-bottom: 18px;
}

.comment-item {
  display: flex;
  gap: 12px;
}

.comment-avatar {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
}

.comment-body {
  min-width: 0;
}

.comment-user {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-right: 150px;
}

.comment-text {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  word-break: break-word;
  margin-right: 150px;
}

.comment-action-container {
  display: flex;
  gap: 10px;
}

.comment-actions {
  margin-top: 6px;
}

.comment-actions button {
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}

.comment-actions button:hover {
  color: #111;
}

.view-replies-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
  margin-top: 8px;
}

.view-replies {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}


.replies {
  margin-left: 50px;
  margin-top: 12px;
  padding-left: 15px;
  border-left: 2px solid #eee;
}

.reported-label{
  background-color: rgba(214, 30, 30, 0.356);
  padding: 15px 39px;
  color: whitesmoke;
  font-size: 15px;
}

.reply-item {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.reply-avatar {
  width: 30px;
  height: 30px;
  font-size: 12px;
}

.no-comment {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #777;
}

.no-comment-icon {
  font-size: 42px;
  margin-bottom: 10px;
}

.no-comment h4 {
  margin: 0 0 5px;
  font-size: 17px;
  color: #333;
}

.no-comment p {
  margin: 0;
  font-size: 13px;
  color: #999;
}

.reply-preview {
  padding: 10px 18px;
  background: #f7f7f7;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  flex-shrink: 0;
}

.reply-preview button {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #777;
}

.comment-footer {
  border-top: 1px solid #eee;
  padding: 12px 16px;
  background: #fff;
  flex-shrink: 0;
}

.comment-footer form {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.comment-footer textarea {
  flex: 1;
  resize: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 12px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  min-height: 42px;
  background-color: #f7f5f5;
  color: #403b3b;
}

.comment-footer textarea:focus {
  border-color: #999;
}

.send-comment-btn {
  border: none;
  border-radius: 9px;
  padding: 10px 18px;
  background: #459745;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.send-comment-btn:hover {
  background: #459745;
}

.action-btn {
  border: none;
  padding: 0;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}

/* report-modal */

.reported-user-modal {
    width: 55%;
    max-width: 700px;
    min-width: 450px;
    background: #fff;
    color: #000;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
}

.reported-user-modal h3 {
    text-align: center;
    margin: 0 0 22px;
    font-size: 22px;
    font-weight: 600;
}

.reported-user-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.reported-user-table th,
.reported-user-table td {
    padding: 12px 14px;
    border-bottom: 1px solid #eee;

    text-align: left;
    font-size: 14px;
}

.reported-user-table thead th {
    background: #f5f5f5;
    font-weight: 600;
}

.reported-user-table tbody tr:last-child td {
    border-bottom: none;
}

.reported-user-table th:first-child,
.reported-user-table td:first-child {
    width: 60px;
    text-align: center;
}

.reported-user-table th:last-child,
.reported-user-table td:last-child {
    width: 130px;
    text-align: center;
}

.action-btn {
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.unreport-btn {
  background: #2e7d32;
  color: #fff;

}
.cancel-btn {
    background: #ca2222d3;
    color: #ffffff;
    min-width: 90px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.no-user {
    text-align: center !important;
    padding: 25px !important;
    color: #777;
}

/* candidate-modal */

.candidate-modal {
    width: 420px;
    max-width: 90%;
    background: #fff;
    color: #000;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
    animation: modalOpen 0.2s ease-in-out;
}

.candidate-form h3 {
    text-align: center;
    margin: 0 0 25px;
    font-size: 22px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 18px;
}

.candidates-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 25px;
}

.candidate-btn {
    border: none;
    padding: 9px 20px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.submit-btn {
    background: #619dda;
    color: #fff;
}
.user-card { 
  background-color: #ecebeb; 
  color: #000; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  border-radius: 14px; 
  padding: 70px; 
  gap: 10px; 
} 

.user-name { 
  font-size: 1.25rem; 
  font-weight: 600; 
  color: #1a1a1a; 
  text-align: center; 
} 

.cancel-btn { 
  background: #ca2222d3; 
  color: #ffffff; 
  min-width: 90px; 
} 

.status-Active, .status-Inactive { 
  display: inline-flex; 
  align-items: center; 
  gap: 5px; 
  padding: 5px 12px; 
  border-radius: 15px; 
  font-size: 11px; 
  font-weight: 600; 
} 

.status-Active { 
  background: #e7f9f0; 
  color: #1da66f; 
} 

.status-Inactive { 
  background: #ffecef; 
  color: #e34b5d; 
} 

.status-Active::before, .status-Inactive::before { 
  content: "●"; 
  font-size: 7px; 
}
